$default-spacing: 16px

$container-width: 940px
$grid-margin:     20px

// Neat settings
$max-width:       $container-width
$gutter:          20px
$grid-columns:    12
$column:          ($container-width - (($grid-columns - 1) * $gutter)) / $grid-columns

// Colors
$color-text: #fff
$color-text-alt: #444
$color-main: orange
$color-alt: red

// Hashgrid aliases
$grid-column-width: $column
$grid-gutter-width: $gutter
$grid-outer-margin: $grid-margin
