$default-spacing: 16px

$container-width: 940px
$grid-margin:     20px

// Neat settings
$max-width:       $container-width
$gutter:          20px
$grid-columns:    12
$column:          ($container-width - (($grid-columns - 1) * $gutter)) / $grid-columns

// Colors
$masala: #444444
$white: #ffffff
$loulou: #621158
$cinnabar: #e34631
$viola: #cc8dc4
$sorrell-brown: #9eca7d
$watusi: #e1ffca
$mona-lisa: #ff9a8d
$your-pink: #ffc6c3
$portage: #8a99e6
$chambray: #323a8b
$anakiwa: #9af1ff
$scooter: #3abbcf
$kournikova: #ffe880
$yellow-orange: #ffa23f
$sorrell-brown-1: #7dccc1
$madras: #047060

$color-text: $white
$color-text-alt: $masala
$color-main: $cinnabar
$color-alt: $kournikova
$color-selected: $scooter

// Hashgrid aliases
$grid-column-width: $column
$grid-gutter-width: $gutter
$grid-outer-margin: $grid-margin


// Navigation globals
$navigation-height: 80px
